<div class = "container">
    <div id="top_picture"><img class="top_picture" src="/sakacloud_top.png">
</div>


<!--<div>-->
<!--	sakacloud-酒蔵人-は日本酒初心者が自分の好みの一本を見つけ，日本酒玄人になる手助けをするサービスです<br>-->
<!--  <%= link_to "新規登録　", new_user_path %>-->
<!--  <%= link_to "日本酒登録　", new_sake_path %>-->
<!--  <%= link_to "口コミ登録", new_review_path %>-->
<!--</div>-->